__pycache__/
*.py[cod]
*$py.class

.venv/
.llt/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.tox/
.nox/
.hypothesis/
.coverage
.coverage.*
coverage.xml
htmlcov/

build/
dist/
*.egg-info/
pip-wheel-metadata/

.env
.env.*
*.log
.DS_Store
